@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.sidebar {
    background-color: lightgray;
    /* width: 250px; */
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    position: absolute;

}

.sidebar nav {
    padding: 20px;

}

.sidebar nav li {
    list-style-type: none;
    font-size: 30px;
    padding: 33px 0px;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
}

.main {
    /* background-color: yellow; */
    width: 90vw;

}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: skyblue; */
    /* height: 60vh; */
    width: 70vw;
    margin: 90px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img {
    height: 60vh;
}

.devInfo {
    display: flex;
    /* align-items: center; */
    margin-top: 30px;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
    /* background-color: red; */
    /* padding-top: 0px; */
}

/* .btn-sm {
    font-size: 12px;
    padding: 10px 12px;
    margin: 10px 0;
}  */

/* .buttons {
    margin-top: 34px;
} */

/* .btn:hover {
    background-color: white;
    color: black;
} */
p{
    padding-bottom: 10px;
}
#skillContainer{
    padding-top: 10px;
    font-weight: bold;

}
.skillItem{
    /* display: flex; */
    /* align-items: center; */
    padding-bottom: 8px;
}
.skill{
    width: 250px;
    height: 7px;
    border-radius: 8px;
    background-color: #333;
}

.t100{
    width: 250px;
}
.t75{
    width: 187.5px;
}
.t50{
    width: 125px;
}
.t25{
    width: 62.5px;
}
.t0{
    width: 0px;
}


.navbar {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.cross {
    margin-left: 150px;   
    z-index: 2;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    
    width: 100vw;
    /* height: 9vh; */
}

.social-icons {
    /* margin-top: 10px; */
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
}

@media (max-width: 1080px) {
    /* * {
        background-color: skyblue;
    } */

    .devPic {
        display: none;
    }

    /* .sidebar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}

@media (max-width: 900px) {

    /* * {
        background-color: skyblue;
    } */
    .devInfo {
        font-size: 10px;
    }

    .devPic {
        display: none;
    }

    footer {
        font-size: 10px;
        height: 60px;
    }

    .fab {
        font-size: 15px;
    }
}