<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G Praveen Kumar - Web Developer Portfolio</title>
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
    <div class="container">
       <%- include('navbar')%>
        <div class="main">
           <%- include('navbar-img')%>
            <div class="blogContainer">
                <h1>Blogs by Steve Jobs - the Legend</h1>
                <div class="blogItem">
                    <h2>Learn Javascript - In fun way!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora itaque vero odit quidem quis accusantium optio nostrum accusamus sequi, laboriosam, dolor minima maiores.</p>
                    <button class="btn btn-sm">Read more</button>
                </div>
                <div class="blogItem">
                    <h2>Learn Javascript - In fun way!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora itaque vero odit quidem quis accusantium optio nostrum accusamus sequi, laboriosam, dolor minima maiores.</p>
                    <button class="btn btn-sm">Read more</button>
                </div>
                <div class="blogItem">
                    <h2>Learn Javascript - In fun way!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora itaque vero odit quidem quis accusantium optio nostrum accusamus sequi, laboriosam, dolor minima maiores.</p>
                    <button class="btn btn-sm">Read more</button>
                </div>
                <div class="blogItem">
                    <h2>Learn Javascript - In fun way!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora itaque vero odit quidem quis accusantium optio nostrum accusamus sequi, laboriosam, dolor minima maiores.</p>
                    <button class="btn btn-sm">Read more</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>

</body>

</html>