<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G Praveen Kumar - Web Developer Portfolio</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <div class="container">
        <%- include('navbar') %>
        <div class="main">
         
                <%- include('navbar-img') %>
                
         
            <div class="contactform">
                <h1>
                    Contact me for work & other general Enquiries!
                </h1>
                <form>
                    <div class="form-group">
                        <label for="clientName">Name</label>
                        <input type="name" class="form-control" id="clientName" aria-describedby="nameHelp" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="clientEmail">Email address</label>
                        <input type="email" class="form-control" id="clientEmail" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted"><br> We'll never share your email & phone
                            with
                            anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="clientphonne">Phone</label>
                        <input type="phone" class="form-control" id="clientphonne">
                    </div>
                    <div class="form-group">
                        <label for="clientEnquiry">Enquiries</label>
                        <input type="enquiries" class="form-control" id="clientEnquiry"
                            aria-describedby="enquiriesHelp">
                    </div>
                    <div id="form-check">
                        <input type="checkbox" id="form-check-input" id="isClient">
                        <label class="form-check-label" for="isClient">we should work on a project</label>
                    </div>
                    <button type="submit" class="btn btn-sm">Submit</button>
                </form>
                <!-- <div class="devPic">
                    <img src="dev.png" alt="image">
                </div> -->
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>

</body>

</html>