<style>
    footer {
        text-align: center;
        margin-top: 40px;
        padding: 10px 0;
        background-color: #333;
        color: #fff;
        width: 100%;
        font-family: "Source Code Pro", monospace;
        /* Uncomment if you want a fixed height for the footer */
        /* height: 9vh; */
    }

    /* Uncomment and style as needed */
    /* .social-icons {
        margin-top: 10px;
    } */

    .social-icons a {
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-size: 24px;
    }

    @media (max-width: 900px) {
        /* Uncomment and style as needed */
        /* * {
            background-color: skyblue;
        } */

        .devInfo {
            font-size: 10px;
        }

        .devPic {
            display: none;
        }

        footer {
            font-size: 10px;
            height: 60px;
        }

        .fab {
            font-size: 15px;
        }
    }
</style>

<!-- footer.ejs -->
<footer>
    <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com/PraveenKumar680/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/itzspraveenhere/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/praveen-kumar6405/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Whitedevilcoder/" target="_blank"><i class="fab fa-github"></i></a>
        <!-- Add more social media icons and links as needed -->
    </div>
    <p>&copy; 2024 G Praveen Kumar Production. All rights reserved.</p>
</footer>
