<!-- footer.ejs -->
<footer>
    <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com/PraveenKumar680/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/itzspraveenhere/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/praveen-kumar6405/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Whitedevilcoder/" target="_blank"><i class="fab fa-github"></i></a>
        <!-- Add more social media icons and links as needed -->
    </div>
    <p>&copy; 2024 G Praveen Kumar Production. All rights reserved.</p>
</footer>
