<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G Praveen Kumar - Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <%- include('navbar') %>
        <div class="main">
           <%- include('navbar-img')%>
            <div class="infoContainer">
                <div class="devInfo">
                    <div class="hello">Hi I am</div>
                    <div class="name">G Praveen Kumar</div>
                    <div class="about">Developer, Entrepreneur</div>
                    <div class="moreabout">I am a developer and I love coffee.I live in India and I love to visit
                        Palo Alto to buy some coffee.</div>
                    <div class="buttons">
                        <button  onclick="resume()" class="btn">Download CV</button>
                        <a><button class="btn" onclick="contact()">Contact Me</button></a>
                    </div>
                </div>
                <div class="devPic">
                    <img src="../src/img/mypic.jpeg" alt="image">
                </div>
            </div>
        </div>
    </div>
    
    <%- include('footer') %>
    <script src="/js/index.js"></script>
</body>

</html>