<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G Praveen Kumar - Web Developer Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/intro.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>
    <div class="container">
        <%- include('navbar')%>
        <div class="main">
           <%- include('navbar-img') %>
            <div class="infoContainer">
                <div class="devInfo">
                    <h1>About Me</h1>
                    <p>Hello, I'm G. Praveen Kumar, CEO and Co-Founder of SupplyNet and SocialX. I specialize as a Web3 Blockchain Full Stack Developer. <br><br>

                        Currently, I am pursuing an undergraduate degree in Computer Science & Engineering with a specialization in Artificial Intelligence (AI). Alongside my studies, I am actively working as a freelancer and have successfully completed several projects for clients.
                        <br> <br>
                        I am always looking for new opportunities to collaborate and innovate.
                    </p>
                    <h2>My Skills</h2>
                    <div id="skillContainer">
                        <div class="skillItem"> HTML: <div class="skill"></div>
                        </div>
                        <div class="skillItem"> CSS: <div class="skill"></div>
                        </div>
                        <div class="skillItem"> Javascript: <div class="skill"></div>
                        </div>
                        <div class="skillItem"> Solidity: <div class="skill t75"></div>
                        </div>
                        <div class="skillItem"> Node Js: <div class="skill t75"></div>
                        </div>
                        <div class="skillItem"> Python: <div class="skill t50"></div>
                        </div>
                        <div class="skillItem"> Web3.js: <div class="skill t50"></div>
                        </div>
                    </div>

                    <h1>
                        My Projects
                    </h1>
                    <div class="projects" style="display: flex; width: 60vw; flex-wrap: wrap;">
                       
                        <div class="projs" style="border: 2px solid black; width: 20vw; padding: 40px; margin: 20px;">
                            <h2>Personal Password Manager</h2>
                            <div class="desp">
                                <p>A Personal Password Manager to keep your all passwords in safe in your local system that NO other can access your private information</p>
                            </div>
                        </div>
                        <div class="projs" style="border: 2px solid black; width: 20vw; padding: 40px; margin: 20px;">
                            <h2>Connect Music</h2>
                            <p>Connect Music is an application to Transfer yourmusic playlists from one platform to another</p>
                        </div>
                        <div class="projs" style="border: 2px solid black; width: 20vw; padding: 40px; margin: 20px;">
                            <h2>SupplyNet</h2>
                        </div>
                        <div class="projs" style="border: 2px solid black; width: 20vw; padding: 40px; margin: 20px;">
                            <h2>FinFlow</h2>
                        </div>
                        <div class="projs" style="border: 2px solid black; width: 20vw; padding: 40px; margin: 20px;">
                            <h2>Personal Portfolio Website</h2>
                        </div>
                        <div class="projs" style="border: 2px solid black; width: 20vw; padding: 40px; margin: 20px;">
                            <h2>Personal AI Assistant </h2>
                            <h4>Machine Aided Neural Intelligence System for Human Assistance..</h4>
                        </div>

                        
                    </div>
                </div>
                <div class="devPic">
                    <img src="/img/mypic.jpeg" alt="image">
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>
    <script src="/js/index.js"></script>

</body>

</html>