<div class="sidebar sidebarGo">
    <nav>
        <ul>
            <li class="box"><a href="/">Home</a></li>
            <li class="box"><a href="/intro">My Intro</a></li>
            <li class="box"><a href="/resume">Resume/ CV</a></li>
            <li class="box"><a href="/services">Services</a></li>
            <li class="box"><a href="/blog">Blog</a></li>
            <li class="box"><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>
</div>

