<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G Praveen Kumar - Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sidebar.css">

</head>

<body>
    <div class="container">
        <%- include('navbar') %>
        <div class="main">
           <%- include('navbar-img')%>
            <div class="infoContainer">
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quasi provident sit facilis, repudiandae neque odio. Consequatur voluptatibus veritatis at voluptates provident sit vero alias, quae quis, quasi minus perferendis eaque harum dolorum ut molestias laudantium incidunt modi. Assumenda eos dignissimos eaque itaque praesentium hic, nemo ea ullam quod natus cum, dolore, temporibus debitis id amet. Cupiditate assumenda illo quia corporis exercitationem, dicta repellat aut sapiente reiciendis quis temporibus possimus obcaecati. Consectetur sunt quisquam a dolor perferendis inventore quas delectus asperiores non corporis quo necessitatibus eos, repellendus ipsam at accusantium! Magnam, voluptate voluptatum. Commodi harum nemo dolores nesciunt eveniet temporibus adipisci! Debitis impedit corrupti sunt rerum, a dolore blanditiis maiores quibusdam id enim ducimus, fugiat aspernatur et quidem omnis nobis maxime adipisci illo mollitia. Fuga eveniet reiciendis corrupti laborum deserunt nemo nihil officiis, libero odit, expedita sequi nam quisquam minima! Maiores labore quod nulla. Excepturi ad rerum, dignissimos perspiciatis quae doloremque veritatis suscipit asperiores. Ipsam asperiores nisi, quis, nemo fugit, unde inventore itaque autem dolores repudiandae sunt deleniti aut quod? A culpa ducimus et nesciunt voluptatum, soluta earum accusantium aliquid nisi veniam itaque vero voluptas officia facilis officiis autem. Quia, sit quae nihil dolorum possimus quo excepturi facere distinctio odit?</p>
            </div>
        </div>
    </div>
    
    <%- include('footer') %>
    <script src="/js/index.js"></script>
</body>

</html>